.contenedor-imagen-responsive{
    display: none;
}
.header-principal{
    background: url('../img/background.jpg') no-repeat center/cover;
    height: 100vh;

    .contenedor{

        display: flex;
        justify-content: center;
        .contenedor-imagen{
            display: flex;
            justify-content: center;
            margin: 0px 50px;
            img{
                margin-top: 10px;
                width: 170px;
                height: 170px;
                border-radius: 100%;
                box-shadow: 1px 1px 3px #0000;
            }
        }
        table{
            width: 300px;

        }
        .nav{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            a{
                margin: 5px 0px;
            }
        }
    }
}


@media (max-width: 830px) {

    .contenedor{
        flex-direction: column;
    }
    .contenedor-imagen{
        display: none;
    }
    .contenedor-imagen-responsive{
        display: flex;
    }
}
@media (min-width: 831px) {
    .contenedor-imagen-responsive{
        display: none;
    }
}